.title-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    .word1{
        background-color: $bk-cards;
        padding-inline: 2vw;
        padding-block: 5px;
        border-radius: 1rem;
    }
    h2{
        font-family: $my-font;
    }
}