.imge-tab{
    width: 60px !important;
    height: 60px !important;
    box-sizing: border-box;
}

// .nav-tabs{
//     a{
//         color: $bk-transparent;
//         font-family: $my-font;
//     }
// }


.tab-content{
    position: relative;
}
.tab-pane {
    position: absolute;
    left: 0;
    top:0px
    
}
#menu{
    height: 100vh;
}

.nav-link {
  color: $color-text-body !important; 
 
}

.nav-link.active {
  color: $color-accent !important; 
}

.nav-tabs .nav-link{
  border: none !important;
  border-radius: 0;
  &:hover{
    color: $color-accent !important;
  }
  
  
}

.nav-tabs .nav-link.active{
  border-right: 2px solid $color-accent  !important;
}



@media ( max-width:900px ) {
  .link-a.active {
    background-color:$color-accent !important;
  }
  .nav-tabs .nav-link.active,.nav-item{
    border-right:none !important;
  }
  #menu {
    height: 120vh ;
  }
  
  
  
}


