.imge-tab{
    width: 60px !important;
    height: 60px !important;
    box-sizing: border-box;
}

.nav-tabs{
    a{
        color: $bk-transparent;
        font-family: $my-font;
    }
}


.tab-content{
    position: relative;
}
.tab-pane {
    position: absolute;
    left: 0;
    top:0px
    
}

.nav-link {
  color: $color-text-body !important; 
 
}

.nav-link.active {
  color: $color-accent !important; 
}

.co a:hover{
    color: $color-accent !important;

}
