.MediaIcons i{
    box-sizing: border-box;
    transition: 0.5s;
    &:hover{
        border-color:$color-accent !important ;
        color: $color-accent !important;
    }
}
footer h5{
    font-family: $my-font;
}

footer p{
    font-size: 14px;
}



