.fade {
    display: flex !important;
    align-items: center;
    .text-Specials {
        width: 50%;

    }

    img {
        width: 30%;
    }


}

// .mv-img{
//   animation: spin 10s linear infinite ;  
//   border-radius: 50% !important;
// }

// @keyframes spin {
//   from{
//     transform: rotate(0deg) ;
//   }
//   to{
//     transform: rotate(360deg) ;
//   }
// }