.rivew {
    background-image: url('../../../../Public/images/Final_Project_HTML_SASS_BOOTSTRAP/Delicious/images/testimonials-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.testimonial-content {
    color: #fff;
    max-width: 800px;
    margin: auto;
}

.testimonial-content img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-bottom: 15px;
    z-index: 55;
}
.TextMonial,.stars{
    z-index: 55;
}

.testimonial-content h3 {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: $my-font;
}

.testimonial-content h4 {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    font-family: $my-font;

    
}

.stars {
    color: $color-accent;
    margin-bottom: 15px;
}

.testimonial-content p {
    font-style: italic;
    line-height: 1.6;
}

.quote-icon-left,
.quote-icon-right {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin-bottom:1vh ;
}


.carousel-indicators [data-bs-target="#CourselRivew"]{
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
