
 .gallery-item{
    overflow: hidden;
 }
 .imge-gallery a{
    width: 99% !important;
    height: 99% !important;

 }
.imge-gallery img{ 
    transition: 0.4s ease;
}
.imge-gallery img:hover{
    scale: 1.3;
    
}

// .carousel-item-gallery.active{
//     display: flex;
//     justify-content: center;
    
//     img{
//         z-index: 55;
//     }
// }


