

a{
    color: white;
    text-decoration: none;
    &:hover{
        color: $color-accent;
    }
}

h1{
    font-family: $my-font;
}


.bi-list{
    display: none;
}

.top-nav {
    display: none;
}