


.the_sconde_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    
    

   
    padding-block: 3vh;
    

    .list {
        display: flex;
        margin-bottom: 0;
        gap: 30px;
        list-style-type: none;
        padding-inline-start: 20vw;
        
    }
    .drop{
        color: white;
        
    }
    .drop:hover {
        color: $color-accent;
    }

    h1 {
        color: white;
    }
    .bi-list{
        font-size: 30px;
        color: $color-text-light;
        display: none;
    }
    #check{
        display: none;
    }
    .bi-x{
        font-size:40px;
        color: $color-text-light;
        position: absolute;
        top: -50px;
        right: 10px;
    
    }

}

@media (max-width: 900px) {
    .the_sconde_nav {
        padding-inline:130px ;
        .list {
            display: none;
        }
        .bi-list {
            display: block;
        }
        #check:checked ~ .list {
            display:flex ;
            flex-direction: column;
            width: 95vw;
            height: 90vh;
            padding-block: 2vh;
            padding-inline-start: 5vw;
            position: absolute;
            top: 60px;
            left: 15px;
            background-color: $color-text-light;
            z-index: 9998;
            border-radius: 10px;
        }
        
        a,.drop{
            color: $color-text-body;
            
        }
    

    }
    #check:checked~ .page-about{
        display: none;
    }
    #check:checked ~ .list::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 55;
            background-color: rgba(128, 128, 128, 0.568);
            opacity: 0.5;

        }
    
    
    
}