.the_sconde_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    padding-block: 3vh;


    .list {
        display: flex;
        margin-bottom: 0;
        gap: 30px;
        list-style-type: none;
        padding-inline-start: 20vw;

    }

    .drop {
        color: white;

    }

    .drop:hover {
        color: $color-accent;
    }

    h1 {
        color: white;
    }

    .bi-list {
        font-size: 30px;
        color: $color-text-light;
        display: none;
    }

    #check {
        display: none;
    }

    .bi-x {
        font-size: 40px;
        color: $color-text-light;
        position: absolute;
        top: -50px;
        right: 10px;

    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: gray;
        opacity: 0.5;
        z-index: 9997;
    }

}

.navbar-nav-scroll {
    // background-color: rgba(0, 0, 0, 0.548);
    animation: scroll-convert-color;
    animation-timeline: scroll(y);
}

@keyframes scroll-convert-color {
    to {
        background-color: black;
    }
}

@media (max-width: 900px) {
    .top-nav {
        display: none;

    }

    .the_sconde_nav {
        padding-inline: 130px;

        .list {
            display: none;
        }

        .bi-list {
            display: block;
        }

        #check:checked~.list {
            display: flex;
            flex-direction: column;
            width: 95vw;
            height: 50vh;
            padding-block: 2vh;
            padding-inline-start: 5vw;
            position: absolute;
            top: 60px;
            left: 15px;
            background-color: $color-text-light;
            z-index: 9998;
            border-radius: 10px;
        }

        a,
        .drop {
            color: $color-text-body;

        }

        #check:checked~.overlay {
            display: block;
        }


    }

    #check:checked~.page-about {
        display: none;

    }





}

@media (max-width:480px) {
    .the_sconde_nav {
        padding-inline: 30px;
    }

    .nav-top {
        justify-content: flex-end;
        margin-top: 1vh;
        padding-inline-end: 5vw;
    }
}