a {
    text-decoration: none;
    color: $color-text-light;

    &:hover {
        color: $color-accent;
    }
}

h1 {
    font-family: $my-font;
}

.bi-list {
    font-size: 35px;
}

.bi-x {
    font-size: 40px;
    cursor: pointer;
}

.card a,
.bi-x {
    color: $color-text-dark;

}

.nav-menu {
    top: 25px !important;

    .close-tage {
        position: absolute;
        top: -50px;
        right: 10px;
    }
}

header{
    background-color: transparent;
    animation: scroll-convert-color;
    animation-timeline: scroll(y);


}
.parent{
    line-height: 14vh;
}

@keyframes scroll-convert-color {
    to {
        background-color: $bk-black;
    }
}