a {
    text-decoration: none;
    color: $color-text-light;

    &:hover {
        color: $color-accent;
    }
}

h1 {
    font-family: $my-font;
}

.bi-list {
    font-size: 35px;
}

.bi-x {
    font-size: 40px;
    cursor: pointer;
}

.card a,
.bi-x {
    color: $color-text-dark;

}

.nav-menu {
    top: 25px !important;

    .close-tage {
        position: absolute;
        top: -50px;
        right: 10px;
    }
}

.nav-menu::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128);
    z-index: 999;
}