.carousel-item img {
    height: 100vh;
    position: relative !important;
    &::after{
        position: absolute !important;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: black !important;
        z-index: 999;
    }
}

.carousel-caption {
    top: 30vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;

    h5 {
        font-family: $my-font;
    }
}

.sentnce-carousle {
    text-align: start;
    width: 75%;
    font-size: 1rem;

}