.carousel-item img {
    height: 100vh;
    position: relative;
    
}
.carousel-item{
    position: relative;
}
.carousel-item::before{
        content: "";
        position: absolute !important;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: black ;
        opacity: 0.5;
        z-index: 1;
        width: 100%;
        height: 100%;
  
}

.carousel-caption {
    top: 30vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    z-index: 1;

    h5 {
        font-family: $my-font;
    }
}

.sentnce-carousle {
    text-align: start;
    width: 75%;
    font-size: 1rem;
    
}

@media  (max-width: 400px) {
    .carousle--btn{
        button{
            padding-inline:5vw !important;
        }
    }
    
}