.carousel-inner img {
    height: 100VH;
    position: relative;


}

.carousel-item::before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.5;
}

.carousel-control-prev-icon{
     filter: brightness(0) invert(1);
     font-size: 200px;
     color: white;
}
.carousel-caption {
    color: $color-text-light;
    position: absolute;
    bottom: 200px;
    z-index: 3;

    p {
        text-align: justify;
    }

}

h5{
    font-family: $my-font;
}
.carousel-control-prev i,.carousel-control-next i{
    font-size: 50px;
    
}