.media {
    top: 1.4rem;
}

.cardChefs {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.486);
}

.info-card h4 {
    font-size: 16px;
    position: relative;


}

.info-card h4::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom:-10px;

    display: block;

}

.info-card p {
    font-size: 13px;
}

.cardChefs{
    bottom: -40px;
    left: 50px;
}