@import "./modules/home/header";
@import "./modules/home/main";
@import "./modules/about/main";
@import "./modules/menu/headr-menu";
@import "./modules/menu/main-menu";
@import "./modules/specials/main-specials";
@import "./modules/events/main-events";
@import "./modules/gallery/gallery";
@import "./modules/chefs/mainchefs";
@import "./modules/riview/mainRivew";