@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$spacer: 5px;

@for $i from 1 through 50 {
    $spacers: map-merge($map1: $spacers, $map2: (
            $i : $spacer * $i)
    );
}

$color-accent: #ffb03b;
$color-text-light: #ffffff;
$color-text-dark: #433f39;
$color-text-body: #444444;
$bk-secondery: #42301c;
$bk-black: black;
$bk-transparent:rgba(0, 0, 0, 0.356);
$bk-cards:#f4f1ff;

$custom-colors: (
    'color-accent':$color-accent,
    'color-text-light': $color-text-light,
    'color-text-dark': $color-text-dark,
    'color-text-body': $color-text-body,
    'bk-secondery': $bk-secondery,
    'bk-black': $bk-black,
    'bk-transparent': $bk-transparent,
    'bk-cards': $bk-cards,

    );
$theme-colors: map-merge($map1: $custom-colors, $map2:$theme-colors );

@font-face {
    font-family: "Satisfy";
    src: url(../../Public/fonts/Satisfy/Satisfy-Regular.ttf) format("truetype");
    font-weight: normal;
    font-size: normal;
};

$my-font:"Satisfy";