.btn-play {
    left: 43%;
    box-sizing: border-box;
    top: 40%;

    i {
        font-size: 30px;
    }

    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.btn-play::after,
.btn-play::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid $color-accent;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.9;
}

.btn-play::after {
    animation: wave 2s ease-out infinite;
}

.btn-play::before {
    animation: wave 2s ease-out infinite;
}

.btn-play:hover {
    transform: scale(1.5);

    &::before,
    &::after {
        animation: none;
    }

}

@keyframes wave {
    100% {
        transform: scale(1.5);
    }



}

.text-about h2 {
    font-family: $my-font;
}





.collapse--container {
    position: absolute;
    width: 90vw;
    top: -1px;
    left: 0px;
    z-index: 5;

}

.item-img img {
    position: relative;
    left: 25%;
    width: 50%;
    z-index: 6;
    height: 25%;
}

.item-img video {
    position: relative;
    left: 18%;
    z-index: 6;
    width: 65% !important;
}

.close-vdieo {
    z-index: 6;
    font-size: 40px;

    position: absolute;
    top: 0;
    right: 10px;

}

.word-title {
    font-size: 14px;
}

.title,
h2 {
    font-family: $my-font;
}

section {
    transition: 0.5s;
}

.card-item:hover {

    background-color: $color-accent !important;
    color: white;

    .num {
        color: white !important;
    }

}

section:hover {
    transform: translateY(-20px);

}

@media (max-width:480px) {
    .collapse--container {
        left: 10px;
        width: 95vw;
    }

    .item-img img {
        height: 36vh;
    }

    .item-img video {
        height: 35vh;
    }
}

@media (max-width:900px) {
    .collapse--container {
        left: 10px;
        width: 85vw;
    }

    .item-img img,
    .item-img video {
        height: 39vh;
    }

}