.aboute {
    display: flex;
    justify-content: center;
    padding-inline: 5vw;
    gap: 2vw;
    padding-block: 8vh;
    align-items: center;

    video {
        width: 550px;
        object-fit: cover;
        align-self: flex-start;
        height: 400px;
    }

    .aboute_text i {
        color: $color-accent;
        font-size: 25px;

    }

    .aboute_text {
        h2 {
            font-family: $my-font;
        }
    }

}

@media (max-width:900px) {
    .aboute {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        padding-inline-start: 8vw;

        video {
            width: 680px;
        }


    }

}
@media (max-width:480px){
    .aboute {
        padding-inline: 4vw;
        video {
            width:450px;
        }
    }
}